.list {
  list-style-type: decimal;
  font-weight: 600;
  color: #3492eb;
}

.activityList {
  display: flex;
  justify-content: space-between;
}

.question {
  font-family: 'Roboto';
  font-size: 14px;
  color: black;
  padding: 5px;
  font-weight: 700;
}
