.container {
  background-image: linear-gradient(to right, #3492eb, #8611ad);
  min-height: 100vh;
  padding: 30px;
}

.responsive-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teacher-heading-page {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
}

.loginCard {
  background-color: #ffffff;
  width: 80%;
  max-width: 220px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 1px 4px #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

@media screen and (min-width: 576px) {
  .loginCard {
    width: 60%;
    max-width: 500px;
  }
}

.heading-teacher {
  font-family: 'Roboto';
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 5px;
}

.login-input-container {
  margin-bottom: 10px;
}

.user-label {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 30px;
}

.userInput {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  height: 30px;
}

.loginButton {
  background-image: linear-gradient(to right, #3492eb, #8611ad);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.error {
  font-family: 'Roboto';
  font-size: 8px;
  color: red;
}

.showPasswordContainer {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkBoxStyle {
  width: 14px;
  height: 14px;
}

.showpassHeading {
  font-family: 'Roboto';
  font-size: 12px;
  color: black;
}

.linkContainer {
  display: flex;
}

.signUp {
  margin-left: 5px;
}

.backButton34 {
  color: #3492eb;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  align-self: flex-end;
  outline: none;
  cursor: pointer;
}

.error {
  font-family: 'Roboto';
  font-size: 12px;
  padding: 0px;
  color: red;
  margin: 0px;
  margin-bottom: 5px;
}
