.container {
  background-image: linear-gradient(to right, #3492eb, #8611ad);
  min-height: 100vh;
  padding: 20px;
}

.responsive-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCard {
  background-color: #ffffff;
  width: 300px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 1px 4px #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .loginCard {
    width: 500px;
  }
}

.heading-teacher {
  font-family: 'Roboto';
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 5px;
}

.login-input-container {
  margin-bottom: 10px;
}

.user-label {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 30px;
}

.userInput {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  height: 30px;
}

.error {
  font-family: 'Roboto';
  font-size: 12px;
  padding: 0px;
  color: red;
  margin: 0px;
  margin-bottom: 5px;
}

.succcess {
  font-family: 'Roboto';
  font-size: 15px;
  padding: 0px;
  color: green;
  margin: 0px;
  margin-top: 10px;
}

.backButton {
  color: #3492eb;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  align-self: flex-end;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}
