.execute-container {
  background-color: white;
  padding: 20px;
}

.responsive-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.executor-heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .executor-heading {
    font-size: 46px;
  }
}

.question-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 0px 3px #eccece;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .question-container {
    width: 60%;
  }
}

.question-container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 0px 3px #eccece;
  height: 300px;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .question-container2 {
    width: 60%;
  }
}

.question-container-heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.span-heading {
  font-weight: 500;
  margin-left: 3px;
}

.question-input {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 0px;
  padding: 15px;
  outline: none;
}

.calculateButton34 {
  color: white;
  background-color: #4c63b6;
  font-family: 'Roboto';
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  align-self: flex-end;
}

.calculateButton2 {
  color: white;
  background-color: #4c63b6;
  font-family: 'Roboto';
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  align-self: flex-end;
}

.answer-para {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 0px;
  padding: 15px;
  font-weight: 600;
}

.asked-container {
  width: 60%;
  display: flex;
}

.error2 {
  font-family: 'Roboto';
  font-size: 12px;
  padding: 0px;
  color: red;
  margin-top: 10px;
  margin-bottom: 5px;
}

.logOutContainer45 {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logoutButton567 {
  color: white;
  background-color: #4c63b6;
  font-family: 'Roboto';
  font-size: 18px;
  border-radius: 4px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 900;
  align-self: flex-end;
  border: none;
}

.questionsHeading {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: right;
  margin: 0px;
}

.questionHead34 {
  font-family: 'Roboto';
  font-size: 12px;
  color: #3492eb;
  padding: 2px;
  font-weight: 700;
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: auto;
}

/* .questionHeadTwo {
  margin-left: auto;
} */

.activityList {
  display: flex;
  justify-content: space-between;
}

.submitButton3 {
  color: white;
  background-color: #4c63b6;
  font-family: 'Roboto';
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  align-self: center;
}

.hintContainer {
  align-self: center;
  background-color: transparent;
  width: 50%;
  padding-top: 0px;
  padding-left: 15px;
}

.hintStyle {
  font-family: 'Roboto';
  color: transparent;
  font-size: 8px;
  margin: 0px;
  text-align: left;
  color: red;
  background-color: transparent;
}

.hintStyle2 {
  color: black;
}

.clearContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  align-self: center;
  background-color: transparent;
}
